<h1>Releases</h1>

<section class="movies-list">
  <% @movies.each do |movie| %>
      <article class="movie-item">
        <h3><%= movie["MovieTitleClean"] %></h3>
        <div class="movie-poster">
          <img src="<%= movie["CoverImage"] %>" />
        </div>
        <div class="movie-info">
          <p><span class="movie-info-title">Year</span> <%= movie["MovieYear"] %></p>
          <p><span class="movie-info-title">Date:</span> <%= movie["DateUploaded"] %></p>
          <p><span class="movie-info-title">Quality:</span> <%= movie["Quality"] %></p>
          <p><span class="movie-info-title">Size:</span> <%= movie["Size"] %></p>
          <p><%= link_to "Details", :controller => :movies, :action => :show, :id => movie["ImdbCode"] %></p>
          <p><%= movie["MovieID"] %></p>
          <p><%= movie["ImdbCode"] %></p>
          <p><%= movie["TorrentUrl"] %></p>
          <p><%= movie["TorrentHash"] %></p>
        </div>
      </article>
  <% end %>
</section>