<h1>Releases</h1>

<section class="movies-list">
  <% @movies.each do |movie| %>
      <article class="movie-item">
        <h3><%= movie["MovieTitleClean"] %></h3>
        <div class="movie-poster">
          <img src="<%= movie["CoverImage"] %>" />
        </div>
        <div class="movie-info">
          <p><%= movie["MovieYear"] %></p>
          <p><%= movie["DateUploaded"] %></p>
          <p><%= movie["Quality"] %></p>
          <p><%= movie["Size"] %></p>
          <p><%= movie["MovieID"] %></p>
          <p><%= movie["ImdbCode"] %></p>
          <p><%= movie["TorrentUrl"] %></p>
          <p><%= movie["TorrentHash"] %></p>
        </div>
      </article>
  <% end %>
</section>