<h1>Releases</h1>

<section class="movies-list">
  <% @movies.each do |movie| %>
      <article class="movie-item">
        <%= form_for :release, url: releases_path do |f| %>
            <%= f.hidden_field :hash, :value => movie.hash %>
            <%= f.hidden_field :name, :value => movie.movie_title %>
            <h3><%= movie.movie_title %></h3>

            <div class="movie-poster">
              <img src="<%= movie.cover %>" />
              <%= f.hidden_field :cover, :value => movie.cover %>
            </div>
            <div class="movie-info">
                  <p>
                    <span class="movie-info-title">Year</span> <%= movie.year %>
                    <%= f.hidden_field :year, :value => movie.year %>
                  </p>

                  <p>
                    <span class="movie-info-title">Date:</span> <%= movie.date_uploaded %>
                    <%= f.hidden_field :date_uploaded, :value => movie.date_uploaded %>
                  </p>
                  <p>
                    <span class="movie-info-title">Quality:</span> <%= movie.quality %>
                    <%= f.hidden_field :quality, :value => movie.quality %>
                  </p>
                  <p>
                    <span class="movie-info-title">Size:</span> <%= movie.size %>
                    <%= f.hidden_field :size, :value => movie.size %>
                  </p>
                  <p><%= link_to "Details", :controller => :movies, :action => :show, :id => movie.imdb %></p>
                  <% if !movie.downloaded %>
                      <p>
                        <%= f.submit %>
                      </p>
                  <%end%>
                  <%= f.hidden_field :url, :value => movie.url %>
                  <%= f.hidden_field :externalId, :value => movie.externalId %>
                  <%= f.hidden_field :imdb, :value => movie.imdb %>

            </div>
            <% end %>
      </article>
  <% end %>
</section>